{% load staticfiles %}
{% load extras %}
{% block cssjs %}
    <link rel="stylesheet" href="{% static 'css/ShopShow.css' %}" type="text/css"/>
    <script src="{% static 'js/MagicZoom.js' %}" type="text/javascript"></script>
{% endblock %}
<div>
    {#多图片浏览---------------开始#}
    <div style="float: left">

        <div id="tsShopContainer">
            <div id="tsImgS">
                <a href="{{ MEDIA_URL }}{{ p.image }}" title="Images" class="MagicZoom" id="MagicZoom">
                    <img width="300" height="300" src="{{ MEDIA_URL }}{{ p.image }}"/>
                </a>
            </div>
            <div id="tsPicContainer">
                <div id="tsImgSArrL" onclick="tsScrollArrLeft()"></div>
                <div id="tsImgSCon">
                    <ul>
                        <li onclick="showPic(0)" rel="MagicZoom" class="tsSelectImg">
                            <img height="42" width="42" src="{{ MEDIA_URL }}{{ p.image }}"
                                 tsImgS="{{ MEDIA_URL }}{{ p.image }}"/>
                        </li>
                        {% for sku in p.goodsku_set.all %}
                            <li onclick="showPic({{ forloop.counter }})" rel="MagicZoom">
                                <img height="42" width="42" src="{{ MEDIA_URL }}{{ sku.image }}"
                                     tsImgS="{{ MEDIA_URL }}{{ sku.image }}"/>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="tsImgSArrR" onclick="tsScrollArrRight()"></div>
            </div>
            <img class="MagicZoomLoading" width="16" height="16" src="{% static 'img/loading.gif' %}" alt="Loading..."/>
        </div>
        <script src="{% static 'js/ShopShow.js' %}"></script>
    </div>
    {#多图片浏览---------------结束#}

    <div style="margin-left: 320px">
        <div>
            <h3>{{ p.name }}</h3>
            <span>{{ p.desc }}</span>
            {% for t in p.tag.all %}<em>{{ t.name }}</em>{% endfor %}
        </div>
        <ul>
            <li>
                <span>价格</span> <strong style="text-decoration:line-through"><em>¥</em><em>
                {{ p.prices }}
            </em></strong>
            </li>
            <li>
                <span>优惠价</span> <strong><em>¥</em><em>
                {% for sku in p.goodsku_set.all %}
                    <li>{{ sku.new_price }}</li>{% endfor %}
            </em></strong>
            </li>
        </ul>
        <div>
            <ul>
                <li><span>尺码:</span>
                    <ul>{% autoescape off %}{{ p|size }}{% endautoescape %}</ul>
                </li>
                <li><span>颜色:</span>
                    <ul>{% autoescape off %}{{ p|color }}{% endautoescape %}</ul>
                </li>
                <li><span>库存</span>
                    <ul>{% for sku in p.goodsku_set.all %}
                        <li>{{ sku.num }}</li>{% endfor %}</ul>
                </li>
            </ul>
        </div>
        <button>加入购物车</button>

    </div>


</div>
<div style="clear: both"></div>
<div>
    <br/>商品分类:{{ p.category }}
    <br/>商品品牌:{{ p.brand }}
    <br/>商品属性:{% for a in p.attrvalue.all %}{{ a.attr.name }}:{{ a.name }}{% endfor %}
    <br/>商品总销量:{{ p.sales }}
    <br/>商品简介:{% autoescape off %}{{ p.details }}{% endautoescape %}
    <br/>
</div>